.slogan_wrap .slogan_wrap_inner .slogan_wrap_text > * {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 7px;
padding-top: 2px;
}

.slogan_wrap .slogan_wrap_inner .slogan_wrap_text *[class^="cmsms-icon-"]:before,
.slogan_wrap .slogan_wrap_inner .slogan_wrap_text *[class*=" cmsms-icon-"]:before {
  font-size: 16px;
}

.header_mid_inner .search_wrap {
    width: auto !important;
    float: right;
    margin-left: 20px;
}