/**
 * @package 	WordPress
 * @subpackage 	Dental Clinic
 * @version 	1.0.0
 * 
 * Theme RTL Rules
 * Created by CMSMasters
 * 
 */


body {
	unicode-bidi: embed;
	direction: rtl;
	text-align: right;
}

ul {
	padding-right: 15px;
	padding-left:0;
}

ol ol {
	margin-right: 20px;
	margin-left: 0;
}

ul li:before {
	content: '\e9cf';
	left: auto;
	right: -18px;
}

.bypostauthor > .comment-body .alignleft:before {
	left: auto;
	right: -10px;
}

div {
	text-align: right;
}

.cmsms_table tr td.cmsms_table_cell_aligncenter,
.cmsms_table tr th.cmsms_table_cell_aligncenter {
	text-align: center;
}

.cmsms_img_rollover_wrap .cmsms_img_rollover .cmsms_image_link,
.cmsms_img_rollover_wrap .cmsms_img_rollover .cmsms_open_link {
	left: 100%;
	right: -54px;
}

.cmsms_img_rollover_wrap .cmsms_img_rollover .cmsms_image_link + .cmsms_open_link {
	left: -54px;
	right: 100%;
}

.cmsms_img_rollover_wrap .cmsms_img_rollover .cmsms_open_post_link {
	left: auto;
	right: 0;
}

.cmsms_img_rollover_wrap:hover .cmsms_img_rollover .cmsms_image_link {
	left: 0;
	right: -65px;
}

.cmsms_img_rollover_wrap:hover .cmsms_img_rollover .cmsms_image_link + .cmsms_open_link {
	left: -65px;
	right: 0;
}

.one_first,
.one_half,
.one_third,
.two_third,
.one_fourth,
.three_fourth,
.one_fifth,
.one_sixth {
	float: right;
}

.one_first {
	float: none;
}

.meta_wrap > div[class^="cmsms-icon-"]:before,
.meta_wrap > p[class^="cmsms-icon-"]:before,
.meta_wrap > span[class^="cmsms-icon-"]:before,
.meta_wrap > abbr[class^="cmsms-icon-"]:before,
.meta_wrap > strong[class^="cmsms-icon-"]:before,
.meta_wrap > div[class*=" cmsms-icon-"]:before,
.meta_wrap > p[class*=" cmsms-icon-"]:before,
.meta_wrap > span[class*=" cmsms-icon-"]:before,
.meta_wrap > abbr[class*=" cmsms-icon-"]:before,
.meta_wrap > strong[class*=" cmsms-icon-"]:before,
.meta_wrap > div[class^="cmsms_theme_icon_"]:before,
.meta_wrap > p[class^="cmsms_theme_icon_"]:before,
.meta_wrap > span[class^="cmsms_theme_icon_"]:before,
.meta_wrap > abbr[class^="cmsms_theme_icon_"]:before,
.meta_wrap > strong[class^="cmsms_theme_icon_"]:before,
.meta_wrap > div[class*=" cmsms_theme_icon_"]:before,
.meta_wrap > p[class*=" cmsms_theme_icon_"]:before,
.meta_wrap > span[class*=" cmsms_theme_icon_"]:before,
.meta_wrap > abbr[class*=" cmsms_theme_icon_"]:before,
.meta_wrap > strong[class*=" cmsms_theme_icon_"]:before {
	margin-left: 0.5em;
	margin-right: 0;
}

nav > div > ul ul {
	left: auto;
	right: 0;
}

nav > div > ul ul ul {
	left: auto;
	right: 100%;
}

#header nav > div > ul > li {
	float: right;
}

#header nav > div > ul > li.menu-item-dropdown-right > ul {
	left: 0;
	right: auto;
}

#header nav > div > ul > li.menu-item-dropdown-right > ul ul {
	left: 100%;
	right: auto;
}

#header nav > div > ul ul ul {
	margin-left: 0;
	margin-right: 20px;
}

#header nav > div > ul li.menu-item-has-children ul > li:hover > a,
#header nav > div > ul li.menu-item-has-children ul > li.current-menu-item > a,
#header nav > div > ul li.menu-item-has-children ul > li.current-menu-ancestor > a,
#header nav > div > ul li.menu-item-has-children ul > li.menu-item-highlight > a {
	padding-right: 10px;
	padding-left:0;
}

#header nav > div > ul > li.menu-item-dropdown-right ul ul {
	margin-left: 20px;
	margin-right: 0;
}

#header nav > div > ul > li.menu-item-mega.menu-item-dropdown-right > div.menu-item-mega-container {
	left: 0;
	right: auto;
}

#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container {
	left: auto;
	right: 0;
}

#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container li.menu-item-has-children ul > li.current-menu-ancestor > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li.current-menu-ancestor > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li:hover > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li > a {
	padding-right: 0;
}

#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li > a:hover,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li.current-menu-item > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li.current-menu-ancestor > a:hover,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li.menu-item-highlight > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li.current-menu-ancestor > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li:hover > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li > a {
	padding-right: 10px;
}

#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li > a:hover,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li.current-menu-item > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li.current-menu-ancestor > a:hover,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li.menu-item-highlight > a {
	padding-right: 20px;
}

#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li.current-menu-ancestor > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li:hover > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li > a {
	padding-right: 20px;
}

#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li > a:hover,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li.current-menu-item > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li.current-menu-ancestor > a:hover,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li.menu-item-highlight > a {
	padding-right: 30px;
}

#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li.current-menu-ancestor > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li:hover > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li > a {
	padding-right: 30px;
}

#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li > a:hover,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li.current-menu-item > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li.current-menu-ancestor > a:hover,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li.menu-item-highlight > a {
	padding-right: 40px;
}

#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li.current-menu-ancestor > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li:hover > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li > a {
	padding-right: 40px;
}

#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li > a:hover,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li.current-menu-item > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li.current-menu-ancestor > a:hover,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li.menu-item-highlight > a {
	padding-right: 50px;
}

#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li.current-menu-ancestor > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li:hover > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li > a {
	padding-right: 50px;
}

#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li > a:hover,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li.current-menu-item > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li.current-menu-ancestor > a:hover,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li.menu-item-highlight > a {
	padding-right: 60px;
}

#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li li.current-menu-ancestor > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li li:hover > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li li > a {
	padding-right: 60px;
}

#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li li > a:hover,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li li.current-menu-item > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li li.current-menu-ancestor > a:hover,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li li.menu-item-highlight > a {
	padding-right: 70px;
}

#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li li li.current-menu-ancestor > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li li li:hover > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li li li > a {
	padding-right: 70px;
}

#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li li li > a:hover,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li li li.current-menu-item > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li li li.current-menu-ancestor > a:hover,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li li li.menu-item-highlight > a {
	padding-right: 80px;
}

#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li li li li.current-menu-ancestor > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li li li li:hover > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li li li li > a {
	padding-right: 80px;
}

#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li li li li > a:hover,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li li li li.current-menu-item > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li li li li.current-menu-ancestor > a:hover,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li li li li.menu-item-highlight > a {
	padding-right: 90px;
}

#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li li li li li.current-menu-ancestor > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li li li li li:hover > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li li li li li > a {
	padding-right: 90px;
}

#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li li li li li > a:hover,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li li li li li.current-menu-item > a,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li li li li li.current-menu-ancestor > a:hover,
#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li > ul > li li li li li li li li li li.menu-item-highlight > a {
	padding-right: 100px;
}

#header .header_top_inner .header_top_right {
	float: left;
}

#header .header_mid_inner .logo_wrap {
	float: right;
}

#header .header_mid_inner .logo_wrap .title_text {
	padding-left: 0;
	padding-right: 3px;
}

.bottom_inner aside {
	float: right;
}


.cmsms_divider.cmsms_divider_width_short.cmsms_divider_pos_center {
	left: auto;
	right: 40%;
}

.cmsms_divider.cmsms_divider_width_short.cmsms_divider_pos_right {
	left: auto;
	right: auto;
}

.cmsms_divider.cmsms_divider_width_medium.cmsms_divider_pos_center {
	left: auto;
	right: 30%;
}

.cmsms_divider.cmsms_divider_width_medium.cmsms_divider_pos_right {
	left: auto;
	right: auto;
}

.cmsms_divider.cmsms_divider_width_short.cmsms_divider_pos_left {
	right:80%;
}

.cmsms_divider.cmsms_divider_width_medium.cmsms_divider_pos_left {
	right:60%;
}

.cmsms_heading_wrap.cmsms_heading_divider_short .cmsms_heading_divider_left {
	margin-right: -10%;
}

.cmsms_heading_wrap.cmsms_heading_divider_medium .cmsms_heading_divider_left {
	margin-right: -20%;
}

.cmsms_heading_wrap.cmsms_heading_divider_long .cmsms_heading_divider_left {
	margin-right: -100%;
}

.cmsms_heading_wrap .cmsms_heading:before,
.cmsms_heading_wrap .cmsms_heading a:before {
	margin-left: 0.5em;
	margin-right: 0;
}

.cmsms_notice[class*=" cmsms-icon-"],
.cmsms_notice[class*=" cmsms_theme_icon_"] {
	padding-right: 90px;
	padding-left:30px;
}

.cmsms_notice:before {
	padding-left: 30px;
	padding-right:0;
	margin-left: 0;
	left: auto;
	right: 20px;
}

.cmsms_icon_box.cmsms_icon_box_left,
.cmsms_icon_box.cmsms_icon_box_left_top {
	padding-right: 60px;
}

.cmsms_icon_box.cmsms_icon_box_left:before,
.cmsms_icon_box.cmsms_icon_box_left_top:before {
	left: auto;
	right: 0;
}

.cmsms_tabs .cmsms_tabs_list .cmsms_tabs_list_item {
	float: right;
}

.cmsms_icon_list_items.cmsms_icon_list_type_block .cmsms_icon_list_item:before {
	content:none;
}

.widget ul {
	padding-right: 0;
}

#slide_top {
	right: auto;
	left: 20px;
}

.owl-carousel {
	direction:ltr;
	text-align:left;
}

.owl-carousel .owl-wrapper-outer .owl-wrapper .owl-item {
	float: left;
}

.owl-pagination {
	direction:rtl;
}

.owl-pagination .owl-page:first-child {
	margin-left: 8px;
}

.owl-pagination .owl-page:last-child {
	margin-left: 0;
}

#navigation ul li > a[data-tag]:before {
	float: none;
	margin-right: 1em;
	margin-left:0;
}

#navigation ul li > a[data-tag] > span {
	float: right;
}

#navigation li.menu-item-icon > a span[class^="cmsms-icon-"]:before {
	margin-left: .5em;
	margin-right: 0;
}

#navigation > li > a[data-tag]:before {
	margin-right: 0.6em;
	margin-left: 0;
	float: left;
}

#navigation > li > a > span > img {
	margin-left: 5px;
	margin-right:0;
}

#navigation > li.menu-item-hide-text > a > span:before {
	margin-left: 0;
}

#navigation > li:hover > a > span.nav_bg_clr,
#navigation > li.current-menu-item > a > span.nav_bg_clr,
#navigation > li.current-menu-ancestor > a > span.nav_bg_clr {
	left: auto;
	right: 0%;
}

#navigation > li.menu-item-mega ul li:hover > a,
#navigation > li.menu-item-mega ul li.current-menu-item > a,
#navigation > li.menu-item-mega ul li.current-menu-ancestor > a {
	padding-right: 10px;
	padding-left: 0;
}

#navigation > li.menu-item-mega > div.menu-item-mega-container > ul:after {
	margin-right: -20px;
	left: auto;
	right: 0;
}

#navigation > li.menu-item-mega > div.menu-item-mega-container ul li.menu-item-hide-text > a > span:before {
	margin-left: 0;
}

.header_top_inner nav > div > ul > li:last-child {
	padding-left: 0;
	padding-right: 10px;
}

.header_top_inner nav > div > ul > li > a > span.cmsms_count {
	margin-right: 7px;
	margin-left: 0;
}

.header_top_inner nav > div > ul > li > a img {
	margin-left: 5px;
	margin-right: 0;
}

.header_top_inner .meta_wrap > * {
	margin-left: 0;
	margin-right: 30px;
}

.header_mid_inner .search_wrap {
	float: left;
	margin-right: 20px;
	margin-left: 0;
}

.header_mid_inner .search_wrap .search_bar_wrap form p.search_field input[type=search] {
	float: left;
}

.header_mid_inner .search_wrap.search_opened .search_bar_wrap {
	padding-right: 25px;
	padding-left: 0;
}

.header_mid_inner .resp_nav_wrap,
.header_mid_inner .slogan_wrap,
.header_mid_inner .social_wrap {
	float: left;
}

.header_mid_inner .resp_nav_wrap.resp_nav_closed,
.header_mid_inner .slogan_wrap.resp_nav_closed,
.header_mid_inner .social_wrap.resp_nav_closed,
.header_mid_inner .resp_nav_wrap.slogan_closed,
.header_mid_inner .slogan_wrap.slogan_closed,
.header_mid_inner .social_wrap.slogan_closed,
.header_mid_inner .resp_nav_wrap.social_closed,
.header_mid_inner .slogan_wrap.social_closed,
.header_mid_inner .social_wrap.social_closed {
	margin-left: 0;
}

.header_mid_inner .social_wrap ul li {
	padding-right: 2px;
}

.header_mid_inner nav {
	float: left;
}

.header_mid_inner nav.nav_closed {
	margin-left: -30px;
}

.header_mid_inner #navigation > li {
	float: none;
}

.header_mid_inner #navigation > li > a > span.nav_bg_clr {
	left: auto;
	right: 50%;
}

.header_mid_inner #navigation > li.menu-item-has-children ul > li:hover > a,
.header_mid_inner #navigation > li.menu-item-has-children ul > li.current-menu-item > a,
.header_mid_inner #navigation > li.menu-item-has-children ul > li.current-menu-ancestor > a {
	padding-right: 10px;
	padding-left:0;
}

.header_mid_inner #navigation > li:hover > a > span.nav_bg_clr,
.header_mid_inner #navigation > li.current-menu-item > a > span.nav_bg_clr,
.header_mid_inner #navigation > li.current-menu-ancestor > a > span.nav_bg_clr {
	left: auto;
	right: 0%;
}

.header_mid_inner #navigation > li.menu-item-highlight > a > span.nav_bg_clr {
	left: auto;
	right: 0%;
}

.header_mid_inner .logo img {
	left: auto;
	right: 0;
}

.header_bot_inner #navigation > li > a > span.nav_bg_clr {
	left: auto;
	right: 0%;
}

.header_bot_inner #navigation > li:hover > a > span.nav_bg_clr,
.header_bot_inner #navigation > li.current-menu-item > a > span.nav_bg_clr,
.header_bot_inner #navigation > li.current-menu-ancestor > a > span.nav_bg_clr {
	left: auto;
	right: 0%;
}

.header_bot_inner #navigation > li.menu-item-highlight > a > span.nav_bg_clr {
	left: auto;
	right: 0%;
}

.enable_header_centered #header .header_mid_inner,
.enable_header_centered #header .header_bot_inner {
	text-align: center;
}

.enable_header_centered #header .header_mid_inner > nav > div > ul ul,
.enable_header_centered #header .header_bot_inner > nav > div > ul ul {
	text-align: right;
}

.enable_header_centered #header .header_mid_inner .logo_wrap {
	float: none;
}

.enable_header_right .header_bot_inner {
	text-align: left;
}

.enable_header_right .header_bot_inner > nav > div > ul ul {
	text-align: right;
}

.search_bar_wrap {
	padding-left: 14px;
	padding-right: 10px;
}

.search_bar_wrap form p.search_button {
	text-align: left;
}

.bottom_inner .widgettitle:before {
	left: auto;
	right: 0;
}

.footer_inner .social_wrap .social_wrap_inner ul li {
	padding-right: 10px;
}

.cmsms_footer_small .footer_inner {
	text-align: right;
}

.cmsms_footer_small .footer_inner nav {
	float: left;
}

.cmsms_footer_small .footer_inner .social_wrap {
	float: left;
}

.cmsms_footer_small .footer_inner .social_wrap .social_wrap_inner {
	text-align: right;
}

.cmsms_footer_small .footer_inner .social_wrap .social_wrap_inner ul li {
	padding-right: 0;
}

.cmsms_footer_small .footer_inner .social_wrap .social_wrap_inner ul li:first-child {
	padding-right: 0;
}

.cmsms_footer_small .footer_inner .footer_custom_html {
	float: left;
	text-align: right;
}

.button,
input[type=submit],
input[type=button],
button {
	text-align: center;
}

.cmsmsLike:before,
.cmsms_post_comments:before {
	float: left;
}

.cmsmsLike > span,
.cmsms_post_comments > span {
	padding-left: 4px;
	padding-right: 1px;
}

.cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block .cmsms_post_filter_but {
	padding-left: 43px;
	padding-right: 20px;
	float: left;
}

.cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block .cmsms_post_filter_but:before {
	right: auto;
	left: 13px;
}

.cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block .cmsms_post_filter_list {
	padding-left: 40px;
	padding-right: 0;
	text-align: left;
}

.cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block .cmsms_post_filter_list li {
	padding-left: 0;
	padding-right: 5px;
}

.cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block .cmsms_post_filter_list li:first-child {
	padding-right: 0;
}

.cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block .cmsms_post_filter_but.current + .cmsms_post_filter_list > li {
	padding-left: 0;
	padding-right: 20px;
}

.cmsms_wrap_post_loader {
	text-align: center;
}

.content_wrap.l_sidebar .blog .cmsms_wrap_pagination {
	padding-left: 35px;
	padding-right: 50px;
}

.cmsms_wrap_pagination ul li {
	padding-left: 0;
	padding-right: 4px;
	float: right;
}

.cmsms_wrap_pagination ul li:first-child {
	padding-right: 0;
}

.blog.columns.puzzle .post figure,
.blog.columns.puzzle .post .puzzle_post_content_wrapper {
	left: auto;
	right: 0;
}

.blog.columns.puzzle .post .preloader:before {
	margin-left: 0;
	margin-right: -15px;
	left: auto;
	right: 50%;
}

.blog.columns.puzzle .post .puzzle_post_content_wrapper:before {
	left: auto;
	right: 25px;
}

.blog.columns.puzzle .post .puzzle_post_content_wrapper .cmsms_post_cont_info > span {
	margin-left: 0;
}

.blog.columns.puzzle .post .puzzle_post_content_wrapper .cmsms_post_footer .cmsms_post_footer_info {
	padding-left: 0;
	padding-right: 10px;
	float: left;
}

.blog.columns.puzzle .post .puzzle_post_content_wrapper .cmsms_post_footer .cmsms_post_footer_info .cmsms_post_meta_info {
	float: none;
}

.blog.columns.puzzle .post.format-aside .cmsms_post_cont .cmsms_post_cont_info,
.blog.columns.puzzle .post.format-status .cmsms_post_cont .cmsms_post_cont_info,
.blog.columns.puzzle .post.format-quote .cmsms_post_cont .cmsms_post_cont_info,
.blog.columns.puzzle .post.format-aside .cmsms_post_cont .cmsms_post_content,
.blog.columns.puzzle .post.format-status .cmsms_post_cont .cmsms_post_content,
.blog.columns.puzzle .post.format-quote .cmsms_post_cont .cmsms_post_content,
.blog.columns.puzzle .post.format-aside .cmsms_post_cont .entry-content,
.blog.columns.puzzle .post.format-status .cmsms_post_cont .entry-content,
.blog.columns.puzzle .post.format-quote .cmsms_post_cont .entry-content {
	text-align: right;
}

.post .cmsms_post_cont_info .cmsms_post_meta_info,
.post .cmsms_post_footer .cmsms_post_meta_info {
	float: left;
}

.post .cmsms_post_cont_info .cmsms_post_meta_info > a,
.post .cmsms_post_footer .cmsms_post_meta_info > a {
	margin-right: 10px;
	margin-left:0;
}

.post .cmsms_post_cont_info .cmsms_post_meta_info > a:first-child,
.post .cmsms_post_footer .cmsms_post_meta_info > a:first-child {
	margin-right: 0;
}

.post .cmsms_post_cont_info > span {
	margin-left: 25px;
	margin-right:0;
}

.blog.columns .post .cmsms_post_cont_info > span,
.blog.timeline .post .cmsms_post_cont_info > span {
	margin-left: 20px;
	margin-right:0;
}

.post.format-chat .cmsms_post_cont .cmsms_chat .cmsms_chat_item:before {
	left: auto;
	right: 0;
}

.post.format-chat .cmsms_post_cont .cmsms_chat .cmsms_chat_item .cmsms_chat_author_time .cmsms_chat_time {
	padding-right: 10px;
	padding-left: 0;
	float: left;
}

.post_nav > span {
	float: right;
}

.post_nav > span.cmsms_prev_post a {
	padding-left: 10px;
	padding-right: 50px;
}

.post_nav > span.cmsms_next_post {
	float: left;
}

.post_nav > span.cmsms_next_post:before {
	right: auto;
	left: 0;
}

.post_nav > span.cmsms_next_post a {
	padding-left: 50px;
	padding-right: 10px;
}

.share_posts > .fl {
	padding-left: 20px;
	padding-right:0;
	float:right;
}

.share_posts .cmsms_social a {
	padding-left: 10px;
	padding-right: 2px;
}

.about_author .about_author_inner .alignleft {
	margin-left: 40px;
	margin-right:0;
	float:right;
}

.cmsms_single_slider .owl-buttons {
	left:20px;
	right:auto;
}

.post_comments .commentlist .comment-body .alignleft {
	margin-left: 40px;
	margin-right: 0;
	text-align: center;
	float:right;
}

.post_comments .commentlist .comment-body .comment-content .comment-edit-link,
.post_comments .commentlist .comment-body .comment-content .comment-reply-link {
	float: left;
	margin-right: 15px;
	margin-left:0;
}

.post_comments .commentlist ul {
	padding-right: 20px;
}

.comment-respond .comment-reply-title small {
	float: left;
}

.comment-respond .comment-form > p input[type=text] {
	margin-left: 10px;
}

.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_sort_block {
	float: left;
}

.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_sort_block .cmsms_project_sort_but {
	margin-left: 0;
	margin-right: 5px;
	padding-left: 43px;
	padding-right: 20px;
}

.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_sort_block .cmsms_project_sort_but:first-child {
	margin-right: 10px;
	margin-left: 0;
}

.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_sort_block .cmsms_project_sort_but:before {
	right: auto;
	left: 13px;
}

.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_filter_block .cmsms_project_filter_but {
	padding-left: 43px;
	padding-right: 20px;
	float: left;
}

.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_filter_block .cmsms_project_filter_but:before {
	right: auto;
	left: 13px;
}

.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_filter_block .cmsms_project_filter_list {
	padding-left: 40px;
	padding-right: 0;
	text-align: left;
}

.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_filter_block .cmsms_project_filter_list li:first-child {
	padding-right: 0;
}

.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_filter_block .cmsms_project_filter_but.current + .cmsms_project_filter_list > li {
	padding-left: 0;
	padding-right: 20px;
}

.portfolio .project {
	float: right;
}

.portfolio .project .project_outer .project_inner .cmsms_project_footer a {
	margin-right: 10px;
	margin-left:0;
}

.portfolio .project .project_outer .project_inner .cmsms_project_footer a:first-child {
	margin-right: 0;
}

.portfolio .project .project_outer .project_inner .cmsms_project_footer a.cmsmsLike:before,
.portfolio .project .project_outer .project_inner .cmsms_project_footer a.cmsms_post_comments:before {
	float: right;
}

.portfolio .project .project_outer .project_inner .cmsms_project_footer a.cmsmsLike > span,
.portfolio .project .project_outer .project_inner .cmsms_project_footer a.cmsms_post_comments > span {
	padding-left: 0;
	padding-right: 4px;
}

.portfolio.opened-article .project {
	float: none;
}

.portfolio.puzzle .project .project_outer:hover figure .cmsms_img_rollover .cmsms_image_link {
	left: 0;
	right: -65px;
}

.portfolio.puzzle .project .project_outer:hover figure .cmsms_img_rollover .cmsms_image_link + .cmsms_open_link {
	left: -65px;
	right: 0;
}

.portfolio.opened-article .project {
	float: none;
}

.portfolio.opened-article .project .project_content.with_sidebar {
	padding-left: 60px;
	padding-right:0;
	float: right;
}

.profiles.opened-article .profile .profile_sidebar .profile_features .profile_features_item > div,
.profiles.opened-article .profile .profile_sidebar,
.profiles.opened-article .profile .profile_sidebar .profile_details .profile_details_item > div,
.portfolio.opened-article .project .project_sidebar .share_posts .share_posts_item,
.portfolio.opened-article .project .project_sidebar .project_features .project_features_item > div,
.portfolio.opened-article .project .project_sidebar,
.portfolio.opened-article .project .project_sidebar .project_details .project_details_item > div {
	float: right;
}

.portfolio.opened-article .project .project_sidebar .project_details .project_details_item .project_details_item_desc {
	text-align: left;
}

.portfolio.opened-article .project .project_sidebar .project_features .project_features_item .project_features_item_desc {
	text-align: left;
}

.profiles.opened-article .profile .cmsms_profile_header {
	text-align: center;
}

.profiles.opened-article .profile .profile_content.with_sidebar {
	padding-left: 40px;
	padding-right:0;
	float: right;
}

.profiles.opened-article .profile .profile_sidebar .profile_details .profile_details_item .profile_details_item_desc {
	text-align: left;
	float: left;
}

.profiles.opened-article .profile .profile_sidebar .profile_features .profile_features_item .profile_features_item_desc {
	text-align: left;
	float: left;
}

.profiles.opened-article .profile .profile_sidebar .profile_social_icons .profile_social_icons_list li a:before {
	text-align: right;
}

.cmsms_notice .notice_close {
	text-align: center;
	right: auto;
	left: 5px;
}

.cmsms_icon_box.cmsms_icon_heading_left h1:before,
.cmsms_icon_box.cmsms_icon_heading_left h2:before,
.cmsms_icon_box.cmsms_icon_heading_left h3:before,
.cmsms_icon_box.cmsms_icon_heading_left h4:before,
.cmsms_icon_box.cmsms_icon_heading_left h5:before,
.cmsms_icon_box.cmsms_icon_heading_left h6:before {
	margin-left: 15px;
	margin-right:0;
}

.cmsms_toggles .cmsms_toggle_wrap .cmsms_toggle_title > .cmsms_toggle_plus {
	left: auto;
	right: 0;
}

.cmsms_toggles .cmsms_toggle_wrap .cmsms_toggle_title > a {
	padding-left: 15px;
	padding-right: 40px;
}

.cmsms_toggles .cmsms_toggle_wrap .cmsms_toggle .cmsms_toggle_inner {
	padding-left: 25px;
	padding-right: 40px;
}

.cmsms_toggles.toggles_mode_accordion .cmsms_toggle_title > .cmsms_toggle_plus {
	left: auto;
	right: 15px;
}

.cmsms_toggles.toggles_mode_accordion .cmsms_toggle_title > a {
	padding-right: 55px;
}

.cmsms_toggles.toggles_mode_accordion .cmsms_toggle_wrap .cmsms_toggle .cmsms_toggle_inner {
	padding-right: 55px;
}

.cmsms_tabs .cmsms_tabs_list .cmsms_tabs_list_item > a[class^="cmsms-icon-"],
.cmsms_tabs .cmsms_tabs_list .cmsms_tabs_list_item > a[class^="cmsms_theme_icon_"] {
	padding-left: 30px;
	padding-right: 60px;
}

.cmsms_tabs .cmsms_tabs_list .cmsms_tabs_list_item > a:before {
	margin-left: 0;
	margin-right: -0.1em;
	left: auto;
	right: 30px;
}

.cmsms_tabs.tabs_mode_tab .cmsms_tabs_list .cmsms_tabs_list_item {
	margin-left: 4px;
	margin-right:0;
}

.cmsms_tabs.tabs_mode_tab .cmsms_tabs_list .cmsms_tabs_list_item:last-child {
	margin-left: 0;
	margin-right:1%;
}

.cmsms_tabs.tabs_mode_tour {
	direction:ltr;
	text-align:left;
}

.cmsms_tabs.tabs_mode_tour .cmsms_tabs_list {
	float: none;
}

.cmsms_tabs.tabs_mode_tour .cmsms_tabs_list .cmsms_tabs_list_item > a[class^="cmsms-icon-"],
.cmsms_tabs.tabs_mode_tour .cmsms_tabs_list .cmsms_tabs_list_item > a[class^="cmsms_theme_icon_"] {
	padding-left: 20px;
	padding-right: 50px;
}

.cmsms_tabs.tabs_mode_tour .cmsms_tabs_list .cmsms_tabs_list_item > a:before {
	left: auto;
	right: 20px;
}

.cmsms_tabs.tabs_mode_tour .cmsms_tabs_wrap {
	float: none;
}

.cmsms_tabs.tabs_mode_tour .cmsms_tabs_wrap .cmsms_tab .cmsms_tab_inner {
	text-align:left;
}

.cmsms_tabs.tabs_mode_tour.tabs_pos_right .cmsms_tabs_wrap .cmsms_tab .cmsms_tab_inner {
	text-align:right;
}

.cmsms_tabs.tabs_mode_tour.tabs_pos_right .cmsms_tabs_list {
	text-align: left;
	float: none;
}

.cmsms_tabs.tabs_mode_tour.tabs_pos_right .cmsms_tabs_list .cmsms_tabs_list_item > a[class^="cmsms-icon-"],
.cmsms_tabs.tabs_mode_tour.tabs_pos_right .cmsms_tabs_list .cmsms_tabs_list_item > a[class^="cmsms_theme_icon_"] {
	padding-left: 50px;
	padding-right: 20px;
}

.cmsms_tabs.tabs_mode_tour.tabs_pos_right .cmsms_tabs_list .cmsms_tabs_list_item > a:before {
	margin-left: -0.1em;
	margin-right: 0;
	left: 20px;
	right: auto;
}

.cmsms_tabs.tabs_mode_tour.tabs_pos_right .cmsms_tabs_wrap {
	float: none;
}

.cmsms_icon_list_items .cmsms_icon_list_item:before {
	left: auto;
	right: 50px;
}

.cmsms_icon_list_items .cmsms_icon_list_item .cmsms_icon_list_icon:after {
	left: auto;
	right: -1px;
}

.cmsms_icon_list_items.cmsms_icon_list_pos_right .cmsms_icon_list_item:before {
	left: 50px;
	right: auto;
}

.cmsms_icon_list_items.cmsms_icon_list_type_list {
	padding-right: 30px;
	padding-left:0;
}

.cmsms_icon_list_items.cmsms_icon_list_type_list .cmsms_icon_list_item:before {
	left: auto;
	right: -32px;
}

.cmsms_stats.stats_mode_bars .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner:before {
	left: auto;
	right: 15px;
}

.cmsms_stats.stats_mode_bars .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_title {
	left: auto;
	right: 15px;
}

.cmsms_stats.stats_mode_bars .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_counter_wrap {
	left: 15px;
	right: auto;
}

.cmsms_stats.stats_mode_bars.stats_type_vertical .cmsms_stat_wrap .cmsms_stat {
	left: auto;
	right: 0;
}

.cmsms_stats.stats_mode_bars.stats_type_vertical .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner:before {
	left: 15px;
	right: auto;
}

.cmsms_stats.stats_mode_bars.stats_type_vertical .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_counter_wrap {
	left: auto;
	right: 15px;
}

.cmsms_stats.stats_mode_bars.stats_type_horizontal .cmsms_stat_wrap:before {
	left: auto;
	right: 0;
}

.cmsms_stats.stats_mode_bars.stats_type_horizontal .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner {
	left: auto;
	right: 0;
}

.cmsms_stats.stats_mode_bars.stats_type_horizontal .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_counter_wrap {
	left: 0;
	right: auto;
}

.cmsms_stats.stats_mode_bars.stats_type_horizontal .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner:before,
.cmsms_stats.stats_mode_bars.stats_type_horizontal .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_title {
	left: auto;
	right: 0;
}

.cmsms_stats.stats_mode_bars.stats_type_horizontal .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner[class^="cmsms-icon-"] .cmsms_stat_title,
.cmsms_stats.stats_mode_bars.stats_type_horizontal .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner[class*=" cmsms-icon-"] .cmsms_stat_title,
.cmsms_stats.stats_mode_bars.stats_type_horizontal .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner[class^="cmsms_theme_icon_"] .cmsms_stat_title,
.cmsms_stats.stats_mode_bars.stats_type_horizontal .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner[class*=" cmsms_theme_icon_"] .cmsms_stat_title {
	left: auto;
	right: 30px;
}

.cmsms_stats.stats_mode_circles .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner {
	left: auto;
	right: 3px;
}

.cmsms_counters .cmsms_counter_wrap .cmsms_counter .cmsms_counter_inner:before {
	left: auto;
	right: 0;
}

.cmsms_counters .cmsms_counter_wrap .cmsms_counter.counter_has_image .cmsms_counter_inner:before {
	background-position: center center; /* Check this rule! */
}

.cmsms_counters.counters_type_vertical .cmsms_counter_wrap .cmsms_counter .cmsms_counter_inner:before {
	left: auto;
	right: 50%;
}

blockquote {
	padding-right: 50px;
	padding-left:0;
}

.cmsms_gallery {
	margin-left: 0;
	margin-right: -10px;
}

.cmsms_gallery .cmsms_gallery_item {
	padding-left: 0;
	padding-right: 10px;
	float: right;
}

.cmsms_gallery .cmsms_gallery_item.cmsms_caption figcaption {
	text-align: center;
}

.cmsms_quotes_slider.cmsms_quotes_slider_type_box .owl-pagination {
}

.cmsms_quotes_slider.cmsms_quotes_slider_type_box .quote_image {
	padding-left: 25px;
	padding-right:0;
	float:right;
}

.cmsms_quotes_slider.cmsms_quotes_slider_type_center .owl-buttons {
	left: auto;
	right: 50%;
}

.quote_grid.quote_one .cmsms_quote {
	float: none;
}

.cmsms_quotes_slider.cmsms_quotes_slider_type_box .quote_info_wrap {
	width:100%;
}

.quote_info_wrap {
	direction:rtl;
	text-align:right;
}

.quote_grid.quote_three .cmsms_quote .quote_image {
	float: none;
	text-align: center;
}

.quote_grid.quote_four .cmsms_quote .quote_image {
	float: none;
	text-align: center;
}

.quote_grid .quote_image {
	margin-left: 25px;
	margin-right:0;
	float: right;
}

.cmsms_pricing_table .cmsms_pricing_item {
	float: right;
}

.cmsms_pricing_table .cmsms_pricing_item .cmsms_pricing_item_inner {
	text-align: center;
}

.cmsms_pricing_table .cmsms_pricing_item .feature_list {
	padding-right: 0;
}

.cmsms_pricing_table .cmsms_pricing_item .feature_list [class*="cmsms-icon-"]:before,
.cmsms_pricing_table .cmsms_pricing_item .feature_list [class*="cmsms_theme_icon_"]:before {
	margin-left: 10px;
	margin-right:0;
}

.cmsms_pricing_table .cmsms_pricing_item .cmsms_price_wrap {
	text-align: center;
}

.cmsms_pricing_table .cmsms_pricing_item .cmsms_price_wrap .cmsms_currency {
	padding-left: 10px;
	padding-right:0;
}

.cmsms_pricing_table .cmsms_pricing_item .cmsms_price_wrap .cmsms_coins {
	padding-right: 10px;
	padding-left:0;
}

.cmsms_sidebar aside {
	float: right;
}

.social_vertical .share_wrap {
	float: none;
}

.share_wrap {
	float: right;
}

.cmsms_profile.vertical .profile .pl_img {
	padding-left: 50px;
	padding-right: 0;
}

.cmsms_profile.vertical .profile .pl_content {
	padding-left: 40px;
	padding-right: 0;
}

.cmsms_twitter .cmsms_twitter_item {
	padding-left: 70px;
	padding-right: 40px;
}

.cmsms_twitter .published {
	padding-left: 15px;
	padding-right: 0;
	left: auto;
	right: 40px;
}

.cmsms_twitter .cmsms_twitter_item_content {
	padding-left: 0;
	padding-right: 140px;
}

.cmsms_twitter .owl-buttons {
	right: auto;
	left: 0;
}

.cmsms_twitter .owl-buttons > div > span {
	text-align: center;
}

.twr_icon {
	left: auto;
	right: 0;
}

.cmsms_dropcap {
	float: right;
	margin-left: 33px;
	margin-right: 23px;
}

.cmsms_dropcap.type2 {
	text-align: center;
	margin-left: 25px;
	margin-right: 0;
}

.cmsms_clients_slider .owl-buttons > div > span {
	text-align: center;
}

.cmsms_clients_item {
	text-align: center;
}

.cmsms_clients_grid .cmsms_clients_item {
	float: right;
}

.cmsms_clients_grid.clients_one .cmsms_clients_item:last-child,
.cmsms_clients_grid.clients_one .cmsms_clients_item {
	float: none;
}

.cmsms_posts_slider .owl-buttons {
	right: auto;
	left: 20px;
}

.cmsms_posts_slider .owl-buttons > div {
	left: auto;
	right: auto;
	margin-right: 3px;
}

.cmsms_posts_slider .owl-buttons > div.owl-prev {
	float: right;
}

.cmsms_posts_slider .owl-buttons > div.owl-next {
	float: left;
}

.cmsms_posts_slider .owl-buttons > div > span {
	text-align: center;
}

.cmsms_posts_slider .post .cmsms_slider_post_cont .thumb_wrap {
	margin-left: 30px;
	margin-right: 0;
	float: right;
}

.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_slider_post_footer .cmsms_slider_post_meta_info > a {
	margin-left: 10px;
	float: right;
}

.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_slider_post_footer .cmsms_slider_post_meta_info > a.cmsmsLike > span,
.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_slider_post_footer .cmsms_slider_post_meta_info > a.cmsms_post_comments > span {
	padding-left: 1px;
	padding-right: 4px;
}

.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_slider_post_footer .cmsms_slider_post_meta_info > a.cmsmsLike:before,
.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_slider_post_footer .cmsms_slider_post_meta_info > a.cmsms_post_comments:before {
	float: right;
}

.cmsms_posts_slider .post.format-aside .cmsms_post_cont .cmsms_post_cont_info,
.cmsms_posts_slider .post.format-status .cmsms_post_cont .cmsms_post_cont_info,
.cmsms_posts_slider .post.format-aside .cmsms_post_cont .cmsms_post_content,
.cmsms_posts_slider .post.format-status .cmsms_post_cont .cmsms_post_content,
.cmsms_posts_slider .post.format-aside .cmsms_post_cont .cmsms_post_content > div,
.cmsms_posts_slider .post.format-status .cmsms_post_cont .cmsms_post_content > div,
.cmsms_posts_slider .post.format-aside .cmsms_post_cont .cmsms_post_footer .cmsms_post_footer_info,
.cmsms_posts_slider .post.format-status .cmsms_post_cont .cmsms_post_footer .cmsms_post_footer_info {
	text-align: center;
}

.cmsms_posts_slider .post.format-aside .cmsms_post_cont .cmsms_post_footer .cmsms_post_footer_info > a,
.cmsms_posts_slider .post.format-status .cmsms_post_cont .cmsms_post_footer .cmsms_post_footer_info > a {
	margin-right: 10px;
	margin-left:0;
}

.cmsms_posts_slider .project .slider_project_outer .slider_project_inner .cmsms_slider_project_footer > a:first-child,
.cmsms_posts_slider .post.format-quote .cmsms_slider_post_cont .cmsms_slider_post_footer .cmsms_slider_post_meta_info > a:first-child,
.cmsms_posts_slider .post.format-chat .cmsms_post_cont .cmsms_slider_post_footer .cmsms_slider_post_meta_info > a:first-child,
.cmsms_posts_slider .post.format-aside .cmsms_post_cont .cmsms_post_footer .cmsms_post_footer_info > a:first-child,
.cmsms_posts_slider .post.format-status .cmsms_post_cont .cmsms_post_footer .cmsms_post_footer_info > a:first-child {
	margin-right: 0;
}

.cmsms_posts_slider .post.format-quote .cmsms_slider_post_cont .cmsms_post_content .cmsms_quote_content {
	padding-right: 0;
}

.one_fourth .cmsms_posts_slider .post .cmsms_slider_post_cont figure,
.one_third .cmsms_posts_slider .post .cmsms_slider_post_cont figure,
.cmsms_posts_slider .post.format-quote .cmsms_slider_post_cont .cmsms_slider_post_footer .cmsms_slider_post_meta_info,
.cmsms_posts_slider .post.format-quote .cmsms_slider_post_cont .cmsms_slider_post_footer .cmsms_slider_post_meta_info > a {
	float: none;
}

.cmsms_posts_slider .post.format-chat .cmsms_post_cont .cmsms_slider_post_footer .cmsms_slider_post_meta_info > a,
.cmsms_posts_slider .project .slider_project_outer .slider_project_inner .cmsms_slider_project_footer > a {
	margin-right: 10px;
}

.cmsms_posts_slider .project .slider_project_outer .slider_project_inner .cmsms_slider_project_footer > a.cmsmsLike:before,
.cmsms_posts_slider .project .slider_project_outer .slider_project_inner .cmsms_slider_project_footer > a.cmsms_post_comments:before {
	float: right;
}

.cmsms_posts_slider .project .slider_project_outer .slider_project_inner .cmsms_slider_project_footer > a.cmsmsLike > span,
.cmsms_posts_slider .project .slider_project_outer .slider_project_inner .cmsms_slider_project_footer > a.cmsms_post_comments > span {
	padding-left: 0;
	padding-right: 4px;
}

.widget_nav_menu > div > ul > li > ul > li > a {
	padding-right: 20px;
	padding-left:0;
}

.widget_nav_menu > div > ul > li > ul > li > ul > li > a {
	padding-right: 40px;
	padding-left:0;
}

.widget_nav_menu > div > ul > li > ul > li > ul > li > ul > li > a {
	padding-right: 60px;
	padding-left:0;
}

.widget_nav_menu > div > ul > li > ul > li > ul > li > ul > li > ul > li > a {
	padding-right: 80px;
	padding-left:0;
}

.widget_custom_advertisement_entries .adv_image_wrap .adv_widget_image {
	float: right;
}

.widget_pages ul ul,
.widget_categories ul ul {
	margin-right: 0;
}

.widget_archive li,
.widget_categories li,
.widget_recent_entries li {
	padding-right: 25px;
	padding-left: 0;
}

.widget_archive li:before,
.widget_categories li:before,
.widget_recent_entries li:before {
	margin-left: 15px;
	margin-right: 0;
	left: auto;
	right: 0;
}

.widget_pages ul > li > ul > li > a,
.widget_categories ul > li > ul > li > a {
	padding-right: 15px;
	padding-left:0;
}

.widget_pages ul > li > ul > li > ul > li > a,
.widget_categories ul > li > ul > li > ul > li > a {
	padding-right: 30px;
	padding-left:0;
}

.widget_pages ul > li > ul > li > ul > li > ul > li > a,
.widget_categories ul > li > ul > li > ul > li > ul > li > a {
	padding-right: 45px;
	padding-left:0;
}

.widget_pages ul > li > ul > li > ul > li > ul > li > ul > li > a,
.widget_categories ul > li > ul > li > ul > li > ul > li > ul > li > a {
	padding-right: 60px;
	padding-left:0;
}

.widget .tweet_list .tweet_time {
	padding-left: 0;
	padding-right: 30px;
}

.contact_widget_name,
.contact_widget_email,
.contact_widget_url,
.contact_widget_phone,
.adress_wrap {
	padding-right: 33px;
	padding-left: 0;
}

.tweet_time:before,
.contact_widget_name:before,
.contact_widget_url:before,
.contact_widget_email:before,
.contact_widget_phone:before,
.adress_wrap:before {
	left: auto;
	right: 0;
}

.tweet_time:before {
	left: auto;
	right: 2px;
}

#wp-calendar caption {
	text-align: right;
}

#wp-calendar caption:before {
	content: '\ef9e';
	margin-left: 10px;
	margin-right:0;
}

.widget_custom_flickr_entries .flickr_badge_image {
	float: right;
}

.cmsms_tabs.lpr .cmsms_tabs_list .cmsms_tabs_list_item {
	margin-left: 0;
	margin-right: 1%;
}

.cmsms_tabs.lpr .cmsms_tabs_list .cmsms_tabs_list_item:first-child {
	margin-right: 0;
}

.cmsms_tabs.lpr .cmsms_tabs_list .cmsms_tabs_list_item a {
	text-align: center;
}

.cmsms_tabs.lpr .alignleft {
	float: right;
	margin-left: 15px;
	margin-right:0;
}

.rsswidget img {
	margin-left: 3px;
	margin-right: 0;
}

.widget_custom_popular_projects_entries .widgettitle,
.widget_custom_latest_projects_entries .widgettitle {
	padding-left: 60px;
	padding-right:0;
}

.widget_custom_popular_projects_entries .pj_ddn > a,
.widget_custom_latest_projects_entries .pj_ddn > a {
	margin-left: 10px;
	margin-right: 0;
}

.widget_custom_popular_projects_entries .pj_ddn .cmsmsLike > span,
.widget_custom_latest_projects_entries .pj_ddn .cmsmsLike > span,
.widget_custom_popular_projects_entries .pj_ddn .cmsms_post_comments > span,
.widget_custom_latest_projects_entries .pj_ddn .cmsms_post_comments > span {
	padding-left: 1px;
	padding-right: 4px;
}

.widget_custom_popular_projects_entries .pj_ddn .cmsmsLike:before,
.widget_custom_latest_projects_entries .pj_ddn .cmsmsLike:before,
.widget_custom_popular_projects_entries .pj_ddn .cmsms_post_comments:before,
.widget_custom_latest_projects_entries .pj_ddn .cmsms_post_comments:before {
	float: none;
}

.widget_custom_popular_projects_entries .owl-buttons,
.widget_custom_latest_projects_entries .owl-buttons {
	right: auto;
	left: 0;
}

.cmsms_search .cmsms_search_zero {
	text-align: center;
}

.cmsms_search .cmsms_search_post .cmsms_search_post_number_wrap {
	margin-left: 35px;
	margin-right: 0;
	text-align: center;
	float: right;
}

.cmsms_search .cmsms_search_post .cmsms_search_post_number_wrap .cmsms_search_post_number {
	text-align: center;
}

.cmsms_search .cmsms_search_post .cmsms_search_post_cont .cmsms_post_cont_info > span {
	margin-left: 25px;
	margin-right:0;
}

.cmsms_search .cmsms_search_post .cmsms_search_post_cont .cmsms_post_cont_info > span.cmsms_post_date {
	margin-left: 0;
}

.cmsms_search .cmsms_search_post .cmsms_search_post_cont .cmsms_post_cont_info div + .cmsms_post_date,
.cmsms_search .cmsms_search_post .cmsms_search_post_cont .cmsms_post_cont_info span + .cmsms_post_date {
	margin-left: 25px;
	margin-right:0;
}

.cmsms_search .cmsms_search_post .cmsms_search_post_cont .cmsms_post_read_more {
	float: left;
}

.cmsms_archive .blog.portfolio.cmsms_profile.vertical .profile:nth-child(2n) .pl_img {
	padding-left: 40px;
	padding-right: 0;
}

.cmsms_archive .blog.portfolio.cmsms_profile.vertical .profile:nth-child(2n):before {
	left: auto;
	right: 0;
}

.content_wrap.l_sidebar .cmsms_archive .blog.portfolio > article {
	margin-right: 50px;
}

.cmsms_archive .blog.portfolio > article.project {
	float: none;
}

.cmsms_sitemap_wrap .cmsms_sitemap > li:before {
	left: auto;
	right: 0;
}

.cmsms_sitemap_wrap .cmsms_sitemap > li > ul > li {
	padding-left: 20px;
	float: right;
}

.cmsms_sitemap_wrap .cmsms_sitemap > li > ul > li > ul li {
	margin-right: 20px;
}

.cmsms_sitemap_wrap .cmsms_sitemap > li > ul > li > ul > li {
	margin-right: 0;
}

.cmsms_sitemap_wrap .cmsms_sitemap_category > li {
	padding-left: 20px;
	float: right;
}

.cmsms_sitemap_wrap .cmsms_sitemap_category > li > ul li {
	margin-right: 20px;
}

.cmsms_sitemap_wrap .cmsms_sitemap_category > li > ul > li {
	margin-right: 0;
}

.cmsms_sitemap_wrap .cmsms_sitemap_archive > li {
	padding-left: 20px;
	float: right;
}

.cmsms_paypal_donations > form > .paypal-donations input[type="image"] {
	left: 0;
	right: 0;
}

input[type=text], 
input[type=email], 
input[type=password], 
input[type=number], 
input[type=url], 
input[type=tel], 
input[type=search], 
textarea, 
select, 
option, 
code {
	text-align:right;
}

.select_arrow:after {
	right:auto;
	left:11px;
}

.widget_custom_booking_entries .widget_booking_cell:last-child {
	-webkit-border-radius:5px 0 0 5px;
	border-radius:5px 0 0 5px;
}

.widget_custom_booking_entries .widget_booking_cell:first-child {
	-webkit-border-radius:0 5px 5px 0;
	border-radius:0 5px 5px 0;
}

span.wpcf7-list-item {
	margin-right: 0;
}

.wpcf7-list-item-label,
body .cmsms-form-builder .check_parent input[type="checkbox"] + label,
body .cmsms-form-builder .check_parent input[type="radio"] + label {
	padding-right: 25px;
	float: right;
}

.cmsms-form-builder .check_parent input[type="checkbox"],
.cmsms-form-builder .check_parent input[type="radio"],
.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="checkbox"],
.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="radio"] {
	left: auto;
	right: 0;
	float: right;
}

.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="checkbox"] + span.wpcf7-list-item-label:after,
.cmsms-form-builder .check_parent input[type="checkbox"] + label:after {
	left: auto;
	right: 4px;
}

.cmsms-form-builder .check_parent input[type="radio"] + label:after,
.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="radio"] + span.wpcf7-list-item-label:after {
	left: auto;
	right: 4px;
}

.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="checkbox"] + span.wpcf7-list-item-label:before,
.cmsms-form-builder .check_parent input[type="checkbox"] + label:before,
.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="radio"] + span.wpcf7-list-item-label:before,
.cmsms-form-builder .check_parent input[type="radio"] + label:before {
	text-align: center;
	left: auto;
	right: 0;
}

html.csstransitions #navigation > li > a > span.nav_bg_clr,
html.csstransitions .cmsms_hover_slider_thumbs > li img,
html.csstransitions .social_wrap a {
	-webkit-transition: opacity .4s ease-in-out, width .3s ease-in-out, right .3s ease-in-out, left .3s ease-in-out;
	-moz-transition: opacity .4s ease-in-out, width .3s ease-in-out, right .3s ease-in-out, left .3s ease-in-out;
	-ms-transition: opacity .4s ease-in-out, width .3s ease-in-out, right .3s ease-in-out, left .3s ease-in-out;
	-o-transition: opacity .4s ease-in-out, width .3s ease-in-out, right .3s ease-in-out, left .3s ease-in-out;
	transition: opacity .4s ease-in-out, width .3s ease-in-out, right .3s ease-in-out, left .3s ease-in-out;
}

html.csstransitions #slide_top,
html.csstransitions #navigation li > a,
html.csstransitions #navigation li > a[data-tag]:before {
	-webkit-transition: border-color .3s ease-in-out, background .3s ease-in-out, color .2s ease-in-out, padding-right .3s ease-in-out;
	-moz-transition: border-color .3s ease-in-out, background .3s ease-in-out, color .2s ease-in-out, padding-right .3s ease-in-out;
	-ms-transition: border-color .3s ease-in-out, background .3s ease-in-out, color .2s ease-in-out, padding-right .3s ease-in-out;
	-o-transition: border-color .3s ease-in-out, background .3s ease-in-out, color .2s ease-in-out, padding-right .3s ease-in-out;
	transition: border-color .3s ease-in-out, background .3s ease-in-out, color .2s ease-in-out, padding-right .3s ease-in-out;
}

html.csstransitions .cmsms_img_rollover_wrap:hover .cmsms_img_rollover .cmsms_image_link,
html.csstransitions .cmsms_img_rollover_wrap:hover .cmsms_img_rollover .cmsms_open_link,
html.csstransitions .project:hover .cmsms_img_rollover_wrap .cmsms_img_rollover .cmsms_image_link,
html.csstransitions .project:hover .cmsms_img_rollover_wrap .cmsms_img_rollover .cmsms_open_link {
	-webkit-transition: right .3s ease-out .2s, left .3s ease-out .2s, color .3s ease-in-out, background-color .3s ease-in-out, opacity .3s ease-out .3s;
	-moz-transition: right .3s ease-out .2s, left .3s ease-out .2s, color .3s ease-in-out, background-color .3s ease-in-out, opacity .3s ease-out .3s;
	-ms-transition: right .3s ease-out .2s, left .3s ease-out .2s, color .3s ease-in-out, background-color .3s ease-in-out, opacity .3s ease-out .3s;
	-o-transition: right .3s ease-out .2s, left .3s ease-out .2s, color .3s ease-in-out, background-color .3s ease-in-out, opacity .3s ease-out .3s;
	transition: right .3s ease-out .2s, left .3s ease-out .2s, color .3s ease-in-out, background-color .3s ease-in-out, opacity .3s ease-out .3s;
}

@media only screen and (max-width: 1024px) {

	html .cmsms_121414 .cmsms_column.one_half,
	html .cmsms_141412 .cmsms_column.one_half,
	html .sidebar_layout_141412 > aside:first-child + aside + aside,
	html .sidebar_layout_141412 > div.cl + aside + aside + aside,
	html .sidebar_layout_141412 > div.cmsms_widget_divider + aside + aside + aside,
	html .sidebar_layout_121414 > aside:first-child,
	html .sidebar_layout_121414 > div.cl + aside,
	html .sidebar_layout_121414 > div.cmsms_widget_divider + aside {
		float: none;
	}

	html .widget_custom_booking_entries .widget_booking_cell:first-child {
		-webkit-border-radius: 0 0 5px 0;
		-moz-border-radius: 0 0 5px 0;
		border-radius: 0 0 5px 0;
	}

	html .widget_custom_booking_entries .widget_booking_cell:nth-child(2n) {
		-webkit-border-radius: 0 0 0 5px;
		-moz-border-radius: 0 0 0 5px;
		border-radius: 0 0 0 5px;
	}

	html .widget_custom_booking_entries .widget_booking_cell.booking_one_half {
		-webkit-border-radius: 5px 5px 0 0;
		-moz-border-radius: 5px 5px 0 0;
		border-radius: 5px 5px 0 0;
	}
	
	html #page #header .cmsms-resp-nav-toggle {
		left:20px !important;
		right:auto !important;
	}
	
	html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item {
		float: right;
	}

	html #page #header .header_top .header_top_outer .header_top_inner .header_top_left,
	html #page #header .header_top .header_top_outer .header_top_inner .header_top_right {
		float: none;
		text-align: center;
	}

	html #page #header .header_top .header_top_outer .header_top_inner .header_top_left .meta_wrap,
	html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap {
		text-align: center;
	}

	html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav {
		float: none;
	}

	html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav div,
	html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav ul,
	html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav a,
	html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav span {
		float: none;
		left: auto;
		right: 0;
	}

	html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav li {
		float: none;
		left: auto;
		right: 0;
	}

	html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav li a {
		text-align: center;
	}

	html #page #header .header_mid {
		float: none;
	}

	html #page #header .header_mid .header_mid_outer .header_mid_inner .logo_wrap {
		float: right;
	}

	html #page #header .header_bot {
		float: none;
	}

	html #page #header .header_bot .header_bot_outer .header_bot_inner .resp_nav_wrap {
		text-align: center;
	}

	html #page #header .header_mid nav,
	html #page #header .header_bot nav {
		float: none;
	}

	html #page #header .header_mid nav div,
	html #page #header .header_bot nav div,
	html #page #header .header_mid nav ul,
	html #page #header .header_bot nav ul,
	html #page #header .header_mid nav a,
	html #page #header .header_bot nav a,
	html #page #header .header_mid nav span,
	html #page #header .header_bot nav span {
		float: none;
		left: auto;
		right: 0;
	}

	html #page #header .header_mid nav li,
	html #page #header .header_bot nav li {
		float: none;
		left: auto;
		right: 0;
	}

	html #page #header .header_mid nav #navigation li a,
	html #page #header .header_bot nav #navigation li a {
		padding-left: 45px;
		padding-right: 30px;
	}

	html #page #header .header_mid nav #navigation li a[data-tag]:before,
	html #page #header .header_bot nav #navigation li a[data-tag]:before {
		float: none;
	}

	html #page #header .header_mid nav #navigation li a[data-tag] > span,
	html #page #header .header_bot nav #navigation li a[data-tag] > span {
		float: right;
	}

	html #page #header .header_mid nav #navigation li.menu-item-hide-text > a > span:before,
	html #page #header .header_bot nav #navigation li.menu-item-hide-text > a > span:before {
		margin-left: .4em;
	}

	html #page #header .header_mid nav #navigation li.menu-item-mega > div.menu-item-mega-container ul li.menu-item-hide-text > a,
	html #page #header .header_bot nav #navigation li.menu-item-mega > div.menu-item-mega-container ul li.menu-item-hide-text > a {
		text-align: right;
	}

	html #page #header .header_mid nav #navigation li.menu-item-mega > div.menu-item-mega-container ul li.menu-item-hide-text > a > span:before,
	html #page #header .header_bot nav #navigation li.menu-item-mega > div.menu-item-mega-container ul li.menu-item-hide-text > a > span:before {
		margin-left: .4em;
	}

	html #page #header .header_mid nav #navigation li li a,
	html #page #header .header_bot nav #navigation li li a {
		padding-right: 45px;
	}

	html #page #header .header_mid nav #navigation li li li a,
	html #page #header .header_bot nav #navigation li li li a {
		padding-right: 60px;
	}

	html #page #header .header_mid nav #navigation li li li li a,
	html #page #header .header_bot nav #navigation li li li li a {
		padding-right: 75px;
	}

	html #page #header .header_mid nav #navigation li li li li li a,
	html #page #header .header_bot nav #navigation li li li li li a {
		padding-right: 90px;
	}

	html #page #header .header_mid nav #navigation li li li li li li a,
	html #page #header .header_bot nav #navigation li li li li li li a {
		padding-right: 105px;
	}

	html #page #header .header_mid nav #navigation li li li li li li li a,
	html #page #header .header_bot nav #navigation li li li li li li li a {
		padding-right: 120px;
	}

	html #page #header .header_mid nav #navigation li li li li li li li li a,
	html #page #header .header_bot nav #navigation li li li li li li li li a {
		padding-right: 135px;
	}

	html #page #header .header_mid nav #navigation li li li li li li li li li a,
	html #page #header .header_bot nav #navigation li li li li li li li li li a {
		padding-right: 150px;
	}

	html #page #header .header_mid nav #navigation li li li li li li li li li li a,
	html #page #header .header_bot nav #navigation li li li li li li li li li li a {
		padding-right: 165px;
	}

	html #page #header .header_mid nav #navigation li li li li li li li li li li li a,
	html #page #header .header_bot nav #navigation li li li li li li li li li li li a {
		padding-right: 180px;
	}

	html #page #header .header_mid nav #navigation li li li li li li li li li li li li a,
	html #page #header .header_bot nav #navigation li li li li li li li li li li li li a {
		padding-right: 195px;
	}

	html #page.enable_header_centered #header .header_mid .header_mid_outer .header_mid_inner .logo_wrap {
		float: none;
		margin-right: 0;
	}
}

@media only screen and (max-width: 950px) {
	html #page .portfolio.opened-article .project .project_content.with_sidebar {
		float: none;
		padding-left: 0;
	}

	html #page .portfolio.opened-article .project .project_sidebar {
		float: none;
	}

	html #page .profiles.opened-article .profile .profile_content.with_sidebar {
		float: none;
		padding-left: 0;
	}

	html #page .profiles.opened-article .profile .profile_sidebar {
		float: none;
	}

	html #page .quote_grid.quote_four .quotes_list .cmsms_quote .quote_image,
	html #page .quote_grid.quote_two .quotes_list .cmsms_quote .quote_image {
		margin-left: 50px;
		margin-right: 0;
		float: right;
	}
}

@media only screen and (max-width: 767px) {
	html .one_first,
	html .one_half,
	html .one_third,
	html .two_third,
	html .one_fourth,
	html .one_fifth,
	html .three_fourth,
	html .cmsms_121414 .cmsms_column.one_half,
	html .cmsms_141412 .cmsms_column.one_half,
	html .cmsms_141214 .cmsms_column.one_fourth,
	html .cmsms_141214 .cmsms_column.one_half {
		float: none;
	}

	html .widget_custom_booking_entries .widget_booking_cell:nth-child(2n) {
		-webkit-border-radius: 0 0 5px 5px;
		-moz-border-radius: 0 0 5px 5px;
		border-radius: 0 0 5px 5px;
	}

	html #page .blog.timeline:before {
		left: auto;
		right: 38px;
	}

	html #page .blog.timeline .post .cmsms_post_info {
		left: auto;
		right: 0;
	}

	html #page .blog.timeline .post .cmsms_post_cont {
		margin-left: 0;
		margin-right: 96px;
	}
	
	html #page #header .header_mid .header_mid_outer .header_mid_inner .search_wrap,
	html #page #header .header_mid .header_mid_outer .header_mid_inner .search_wrap .search_wrap_inner .search_bar_wrap form .search_field input[type="search"],
	html #page #header .header_mid .header_mid_outer .header_mid_inner .slogan_wrap,
	html #page #header .header_mid .header_mid_outer .header_mid_inner .social_wrap,
	html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item,
	html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:first-child,
	html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:last-child,
	html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:nth-child(n) {
		float: none;
	}
	
	html #page #header .header_mid .header_mid_outer .header_mid_inner .slogan_wrap .slogan_wrap_inner .slogan_wrap_text,
	html #page #header .header_mid .header_mid_outer .header_mid_inner .social_wrap .social_wrap_inner ul,
	html #page .cmsms_profile.vertical .profile,
	html #page .cmsms_profile.vertical .profile .pl_content_wrap,
	html #page .cmsms_profile.vertical .profile .pl_content,
	html #page .cmsms_profile.vertical .profile .pl_content .pl_social,
	html #page .cmsms_profile.vertical .profile .entry-content {
		text-align: center;
	}

	html #page .quote_grid .quotes_list .cmsms_quote .quote_image {
		margin-left: 50px;
		margin-right: 0;
		float: right;
	}

	html #page #header .header_mid .header_mid_outer .header_mid_inner .logo_wrap {
		text-align: center;
		float: none;
	}

	html #page #header .header_mid .header_mid_outer .header_mid_inner .resp_nav_wrap {
		float: none;
		text-align: center;
	}
}